# ⚠️ Fill these after deploying contracts
VITE_ALERT_HANDLER_ADDRESS=0x35Fd4a29F6BAD54FfDC57aFdaB0fC01806A2A9E1 # REPLACE WITH YOUR OWN DEPLOYED ADDRESS
VITE_ALERT_REGISTRY_ADDRESS=0xE27031362d69C828D0F169cA4817C3cCaB6bE797 # REPLACE WITH YOUR OWN DEPLOYED ADDRESS

# Telegram Bot (Replit deployment)
VITE_TELEGRAM_BOT_API=your_deployed_replit_app_url_for_tg_bot
VITE_TELEGRAM_BOT_USERNAME=your_bot_username_without_@

VITE_PROJECT_ID=PROJECT_ID_VALUE #WALLET CONNECT PROJECT ID - GET YOURS FROM https://cloud.walletconnect.com/.