node_modules/
.env
cache/
artifacts/
typechain-types/
coverage/
coverage.json

# Frontend
frontend/node_modules/
frontend/dist/

# Telegram Bot
telegram-bot/node_modules/
telegram-bot/dist/


# Code Components
components/
